models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
**/.DS_Store

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/embodiments/
assets/embodiments/*
!assets/embodiments/flying-hand/
!assets/embodiments/flying-hand/**

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
